body {
    margin: 0;
}

header {
    background-image: url("/assets/img/header2.jpeg");
    background-size: cover;
    width: 100%;
    height: 100px;
}

.cabezal {
    margin: 0px;
    text-transform: capitalize;
    text-align: center;
    padding: 25px 0px;
    letter-spacing: 5px;
    font-size: 40px;
}

article {
    display: inline-block;
    width: 300px;
    margin: 30px 6.7%;
}

.title {
    text-transform: capitalize;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
}

.list {
    list-style-type: none;
    width: 260px;
}

.anchor {
    width: 300px;
    text-decoration: none;
    color: black;
}

.list-item {
    text-transform: capitalize;
    width: 300px;
    padding: 5px 0px;
}

.price {
    text-align: center;
    font-weight: bold;
}

footer {
    background-color: black;
    height: 150px;
    width: 100%;
}
footer p {
    text-align: center;
    padding-top: 30px;
    color: white
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

footer a:hover {
    font-size: 45px;
    transition: 1s;
}
section {
    padding-top: 150px;
}